<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Vue Forms</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>

    <div id="app"> <!--Code managed by Vue app-->

        <h1>Enter your name</h1>

        <label>Please enter your name</label>
        <input v-model="name">
        <p v-if="name">Thanks your name is {{ name }}</p><!--'v-if' statement only triggers if input-->
        <p v-else>Awaiting user input</p><!--v-else triggers if 'v-if' not triggered-->

        <button v-on:click="clearName">Clear Name</button> <!--When button is clicked clearName function is
        triggered-->
    </div>
    
    <script>
        const { createApp, ref } = Vue

        createApp({
            setup(){

                const name = ref('') //empty string
                
                function clearName(){ //function triggered when Clear Name button clicked
                    name.value = ''
                }
                return{ //returns variables for app use
                    name, clearName
                }
            }
        }).mount('#app')

    </script>
</body>
</html>